
body { 
    font-family: monospace;
    background-color: #F0EDE4;
}

h1 { 
    font-family: monospace;
}

p { 
    font-family: monospace;
    margin-left: 20px;
}

div {
    font-size: 16px;
    font-family: monospace;
}